/*RESETEAR VALORES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body{margin: 0;
padding: 0;}

/* FUENTES */

@font-face {
font-family: Avenir;
src: url(fuentes/AvenirNextLTPro-Bold.otf);
}

@font-face {
font-family: Nova;
src: url(fuentes/Proxima\ Nova\ Font.otf);
}


/* NAVBAR */

.navbar{
width: 100%;
background-color: #1780B1;
display: flex; /* se le debe aplicar a un contenedor, convierte elementos en linea a bloque, para permitir agregar padding*/
position: relative;
}

.navbar a { /* a son los links*/
text-align: center;
font-family: 'Nunito', sans-serif;
font-size: 17px;
color: white;
text-decoration: none; /* none quita el subrayado*/
padding: 12px; /* espacio entre las etiquetas*/
border-radius: 5px;
}

.navbar a:hover {
background-color: #F08F00;
border-radius: 5px;

}

.active{
background-color: #C74934;
}


/* BANNER */

.banner img{
height: 350px;
width: 600px;
padding: 0;
margin: 0;

}

.banner{
position: relative;
width: 100%;
height: calc(100vh - 50px);
background-color: #F5F5F5;
background-size: cover;
background-position: center;
transition: all .1s ease-out;
background-image: url('../img/pexel.jpg');
animation: banner 6s infinite linear;
}
.banner-content{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
color: #FFF;
background-color: rgba(0, 22, 40, .6);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-content h1{
margin: 0;
padding: 0;
padding-bottom: 30px;
font-size: 40px;
text-align: center;
}
.banner-content a{
text-decoration:none;
color: #FFF;
padding: 9px 20px;
border: 1px solid #FFF;
border-radius: 10px;
text-transform:none;
font-style: bold;
transition: all .1s ease-in-out;
font-family: 'Nunito', sans-serif; ;
}
.banner-content a:hover{
background-color: #fff;
color: #333;
}

@keyframes banner{
0%{
  background-image: url('../img/pexel.jpg');
}
50%{
  background-image: url('../img/pexel.jpg');
}

51%{
  background-image: url('../img/pexels2.jpg');
}
100%{
  background-image: url('../img/pexels2.jpg');
}
}

/* PROMO */

.extra img{

  margin-top: 30px;
  width: 100%;
  height: 100%;
  
  }

/*FOOTER*/

.pie-pagina{
width: 100%;
background-color: #0a141d;
font-family: Nova;
}
.pie-pagina .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-gap:50px;
padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
width: 250px;
}
.pie-pagina .grupo-1 .box h2{
color: #fff;
margin-bottom: 25px;
font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
color: #efefef;
margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: #fff;
margin-right: 10px;
background-color: #0d2033;
text-align: center;
transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
color: #F08F00;
}
.pie-pagina .grupo-2{
background-color: #0a1a2a;
padding: 15px 10px;
text-align: center;
color: #fff;
font-family: Nova;
}
.pie-pagina .grupo-2 small{
font-size: 15px;
}
@media screen and (max-width:800px){
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
}
}

/* ICONOS */

.porque h1{
text-align: center;
font-family: Nova;
font-size: 50px;
font-style: normal,bold;
margin-top: 10px;

}

.h1{
justify-content: center;
}

.contenedortarjeta{
display: flex;
justify-content: center;
align-items: center;
height: 200px;
}

.tarjeta {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 32%;
height: 70%;
border-radius: 5px;
margin-top: 2px;
margin-left: 10px;
background-color: #E8DFDF;
display: flex;
justify-content: center;
align-items: center;
}

/* On mouse-over, add a deeper shadow */
.tarjeta:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tarjeta img{
background-position: center;
}

/* Add some padding inside the card container */
.iconos {
padding: 2px 16px;

margin: 10px
}

/* PROMO */

.extra img{

margin-top: 0px;
width: 100%;
height: 100%;

}

/* Photo */

.photo img{

  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-color: #E8DFDF;
  
  }

.porque{background-color: #E8DFDF;}

.porque h1{
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.porque p{
  justify-content: center;
  text-align: justify;
  font-size: 25px;
  color: white;
  margin-left:200px;
  margin-right:200px;
}